body {
    width: 100%;
    height: 100%;
    font-family: Coda,Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 21px;
/*    text-transform: uppercase; */
    font-family: Coda,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
/*    font-weight: 600; */
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #00adef;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #00adef;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Coda,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


.intro {
    display: block;
    width: 100%;
    height: auto;
/*    padding: 100px 0;*/
    text-align: center;
    color: #fff;
   /* background: url(../img/intro-1.jpg) no-repeat bottom center scroll; */
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#introCarousel .item {
   position:relative;
   opacity: 0;
	left:0 !important;
	width: 100%; 
  	height: 1100px;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#introCarousel .active {
	opacity: 1 !important;
}

#introCarousel .next {
    position:absolute;
    display:block;
    top:0;
    width:100%;
}


#introCarousel .left {
	opacity: 1 !important;
	-webkit-transition: opacity 0.5s  !important;
	-moz-transition: opacity 0.5s  !important;
	-ms-transition: opacity 0.5s  !important;
	-o-transition: opacity 0.5s  !important;
	transition: opacity 0.5s  !important;
}

#introCarousel .one {
    background: url(../img/101.jpg) no-repeat bottom center scroll;
    background-size: cover;
    -moz-background-size: cover;
}
#introCarousel .two {
    background: url(../img/102.jpg) no-repeat bottom center scroll;
    background-size: cover;
    -moz-background-size: cover;
}
#introCarousel .three {
    background: url(../img/103.jpg) no-repeat top center scroll;
    background-size: cover;
    -moz-background-size: cover;
}
#introCarousel .four {
    background: url(../img/104.jpg) no-repeat top center scroll;
    background-size: cover;
    -moz-background-size: cover;
}

#introCarousel .five {
	background: url(../img/105.jpg) no-repeat top center scroll;
    background-size: cover;
    -moz-background-size: cover;
}

.intro-body {
    display: block;
    position:absolute;
    width:100%;
    vertical-align: middle;
	  top:6em; /* hier mit dem abstand von oben rumspielen */
}

.brand-heading {
    font-size: 30px;
}

.intro-text {
    font-size: 18px;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 6px;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 75px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}


.btn {
    text-transform: uppercase;
    font-family: Coda,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #00adef;
    color: #ffffff;
    background-color: #00adef;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #00adef;
    outline: 0;
    color: #000;
    background-color: #00adef;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}



/* MEDIA QUERY */

@media(min-width:767px) {  

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }    
  
    .intro {
        padding: 0;
    }

    .brand-heading {
        font-size: 50px;
    }

    .intro-text {
        font-size: 25px;
    }

    .content-section {
        padding-top: 120px;
    }

    .download-section {
        padding: 10px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}


/* mobile layout 768px */
@media only screen and (min-width: 746px) and (max-width: 1024px) {    
/*@media(max-width:1199px) { */
  
  /*body {border:2px solid red;} */
    .navbar .container {
       width:100%;
    }
  
    .navbar ul li a {
       padding-right:5px;
       padding-left:10px;
    }
  
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}


/* mobile layout 480px */
@media only screen and (min-width: 460px) and (max-width: 745px) { 
/* @media(max-width:767px) { */
  
/*    body {border: 2px solid green; }
 war vorher so ... 
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
*/
    ul.list-inline.banner-social-buttons {
        margin-bottom:0px;
    }
    ul.list-inline.banner-social-buttons li {
       margin-top:10px;
    }  
  
/*  
    div#count-down div.time_circles canvas[width],
    div.time_circles {  
       width:100%;
       margin: auto;
    }
    
    div#count-down div.time_circles div[style] {
       top:30% !important;
       width:25% !important;
       left: 0px !important;
    }
    div#count-down div.time_circles div.textDiv_Hours[style] {
       left: 25% !important;
    }
    div#count-down div.time_circles div.textDiv_Minutes[style] {
       left: 50% !important;
    }  
    div#count-down div.time_circles div.textDiv_Seconds[style] {
       left: 75% !important;
    }*/
}



/* mobile layout 320px */
@media only screen and (min-width: 290px) and (max-width: 459px) {  /* added breakpoint for small devices */

/*     body {border: 2px solid yellow; }*/
  
/*     div#count-down div.time_circles canvas[width],
     div.time_circles {  
        width:200px;
        margin:auto;
     }
     
  
  
    div#count-down div.time_circles div h4 {
		  	display:none;
    }
    div#count-down div.time_circles div span {
       font-size:0.9em !important;
       line-height:0.7em !important;
    }
    
    div#count-down div.time_circles div[style] {
       top:30% !important;
       width:25% !important;
       left: 0px !important;
    }
    div#count-down div.time_circles div.textDiv_Hours[style] {
       left: 25% !important;
    }
    div#count-down div.time_circles div.textDiv_Minutes[style] {
       left: 50% !important;
    }  
    div#count-down div.time_circles div.textDiv_Seconds[style] {
       left: 75% !important;
    }  
  */
  
    ul.list-inline.banner-social-buttons {
        margin-bottom:0px;
    }
    ul.list-inline.banner-social-buttons li {
       margin-top:10px;
    }
  
  	.text-right {
  		text-align: left !important;
  	}
  	
  	#introCarousel .item {
  		height: 800px;  	
  	}
  

}

/* OTHER STUFF */

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.responsive-video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
padding-top: 0px;
height: 0;
overflow: hidden;
}