html, body {margin:0; padding:0}
body {background-color: #404040;}
h2 { padding-top: 1em; margin-bottom: 3px;}

a:link {text-decoration:underline}
@media print {
	a { display:none}
	img {width:210mm}
}