﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="login.aspx.cs" Inherits="redirector_login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table>
            <tr>
                <td>Password:</td>
                <td><asp:TextBox ID="pw" runat="server"></asp:TextBox></td>
                <td><asp:Button ID="submit" runat="server" Text="Login" /></td>
            </tr>
        </table>
        <asp:Label ID="dummy" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
